body {
	margin : 0;
	font-family : Arial;
	font-size : 12pt;
	font-weight : normal;
	color : gray;
	text-align : center;
	line-height : 18px;
	background : #d2d2d2	;
}

h1, h2 {
	text-transform : uppercase;
	font-family : "Arial Bold", Arial;
	/*text-align : center;*/
	letter-spacing : -1px;
	line-height : 28px;
	margin : 20px;
	color : #55FFFF;
}

img.pIcon {
    height: 80px;
    width: 100px; 
}

.menu li {
    display:inline-block;
    float:left;
    padding:0.85em 1em 0.85em 1em;
    border-left: 6px solid;
    border-radius: 15px;
    background-color: #00cfe6 ;
    margin: 0 4px 0 4px;
}

.menu li a {
    color:#888888;
    font:bold 14px/1em Helvetica;
    text-decoration:none;
}

main {
    border-radius: 20px;
	width : 1150px;
	margin : 0 auto;
	text-align : left;
	overflow : hidden;
}

nav {
	float : left;
	width : 1150px;
	/*height : 60px;*/
	background : #00b8cc;
	z-index : 500;
}

section {
	background : #F2E9E1;
	float : left;
	width : 1150px;
	padding : 20px 0 20px 0;
	/*opacity: 0.9;*/
}

#product-container {
    float: left;
}

div.product {
    border: 3px solid #22DDDD;
    border-radius: 20px;
    background-color: #e8d8c9;
    display: inline;
    float: inherit;
    margin: 12px;
    padding: 12px;
    
}

footer {
	padding : 25px 40px;
	margin : 20px 0 0 0;
	width : 1070px;
	text-align : center;
	background : #22DDDD;
	font-weight : bold;
	text-transform : uppercase;
}

